@* TODO:

    Form should be bigger, needs some proper styling
    if there's an error in upload, should handle it by alerting the error?

    TODO: Reloading page on successfull upload, but should probably just replace the content.
    Here for some examples:
    https://qawithexperts.com/article/asp.net/file-uploading-using-dropzone-js-html5-in-mvc/81

*@

@Styles.Render("~/Content/dropzonescss")

<h2>Caption Upload</h2>
@using (Html.BeginForm("UploadFiles", "Admin", FormMethod.Post, new { @name = "myDropzone", id = "myDropzone", @enctype = "multipart/form-data" }))
{
    <br />

    <div>
        <div id="previews" class="dz-default dz-message box__input dropzone">
            <div style="text-align:center">
                <i class="fa fa-cloud-upload" style="font-size:23px;position:relative;top:4px;"></i> <span style="margin-left:20px">Drop files  to attach or browse</span>
            </div>
        </div>
        <br />
        <div>
            @Html.Bootstrap().Button(buttonType: ButtonType.Submit, text: "Upload").AddCss("btn-success").SetId("Submit")
        </div>
        <br />
        <div id="previewFiles"></div>
    </div>
}