
@model PostListViewModel
<div id="delete-posts">
    @if (Model.Posts.Any())
    {
        using (Html.BeginForm("DeletePost", "Admin", FormMethod.Post, new { id = "delete-post-form" }))
        {
            @Html.Select2(Model.Posts, new Select2 { width = "60%" }, textProp: nameof(Post.PostTitle))
            <br />
            @Html.Bootstrap().Button(buttonType: ButtonType.Button, text: "Delete").AddCss("btn-danger").AddAttributes(new { onclick = "DeletePost();" })
        }
    }
    else
    {
        <p>No Results Found</p>
    }
</div>