<div class="jumbotron">
    @Html.ActionLink("Upload Captions", "CreateCaption")
    
</div>

<div class="card text-center">
    <div class="card-header">
        Delete
    </div>
    <div class="card-body">
        @Html.ActionLink("Delete Captions", "DeleteCaption")
    </div>
</div>

