<div class="jumbotron">
    @Html.ActionLink("Upload Captions", "CreateCaption")
    
</div>

<div class="card text-center">
    <div class="card-header">
        Create Post
    </div>
    <div class="card-body">
        @Html.ActionLink("Create Post", "Create", "Post")
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        Delete Captions
    </div>
    <div class="card-body">
        @Html.ActionLink("Delete Captions", "DeleteCaption")
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        Delete Posts
    </div>
    <div class="card-body">
        @Html.ActionLink("Delete Posts", "DeletePost")
    </div>
</div>
