@model IEnumerable<Captions.Models.Caption>

@{
    ViewBag.Title = "Index";
}

<h2>Admin Page</h2>
<div>
    @using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span>Select File:</span>
            <input type="file" name="postedFile" />
            <hr />
            <input type="submit" value="Upload" />
            <br />
            <span style="color:green">@ViewBag.Message</span>
    }
</div>