@model PostListViewModel

@foreach (var post in Model.Posts)
{
    <div>
        <p class="small font-weight-bold">@post.CreatedDate</p>
        <h2>@post.PostTitle</h2>
        <hr />

        <span>@post.PostContent</span>

        <hr />
        @if (post.Captions.Captions.Any())
        {
            @Html.Nanogallery(post.Captions.Captions,
                new Nanogallery
                {
                 
                },
                post.ID)
        }
        else
        {
            <p class="text-center font-italic small">No Images Available</p>
        }
    </div>
    <br /><br /><br /><br /><br /><hr />

}
