@Styles.Render("~/Content/login")
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <input type="text" class="username" name="username" placeholder="Username">
    <input type="password" class="password" name="password" placeholder="Password">
    <button class="btn btn-success" type="submit">Login</button>
}