@model PostListViewModel


@if (ViewData["error"] != null)
{
    @Html.Swal2(new Swal2 { Title = "Not Authorized", TitleText = "You are not authorized to perform that action." });
}
<div id="main-content">
    @Html.Partial("List", Model)
</div>